## <center>Практика. Дерево решений в задаче предсказания выживания пассажиров "Титаника".

Предсказываем, выжил ли пассажир титаника или нет.

In [51]:
import numpy as np
import pandas as pd
from sklearn.utils import shuffle
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import roc_auc_score, accuracy_score, confusion_matrix, average_precision_score
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns

**Считываем датасет и делим его.**

In [52]:
df = pd.read_csv("train.csv")
df = shuffle(df, random_state=42) # перемешиваем датасет

### Предобработка данных

In [53]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
709,710,1,3,"Moubarek, Master. Halim Gonios (""William George"")",male,NaN,1,1,2661,15.2458,NaN,C
439,440,0,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.0,0,0,C.A. 18723,10.5000,NaN,S
840,841,0,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.9250,NaN,S
720,721,1,2,"Harper, Miss. Annie Jessie ""Nina""",female,6.0,0,1,248727,33.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C

In [54]:
df.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Watson, Mr. Ennis Hastings",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

**Заполним пропуски медианными значениями. (столбцы Age, Embarked в train и в test)**

Подсказка - fillna(), median(), можете найти в документации

In [97]:
df.fillna(df.median(), inplace=True)
print(df)

     PassengerId  Survived  Pclass  \
709          710         1       3
439          440         0       2
840          841         0       3
720          721         1       2
39            40         1       3
290          291         1       1
300          301         1       3
333          334         0       3
208          209         1       3
136          137         1       1
137          138         0       1
696          697         0       3
485          486         0       3
244          245         0       3
344          345         0       2
853          854         1       1
621          622         1       1
653          654         1       3
886          887         0       2
110          111         0       1
294          295         0       3
447          448         1       1
192          193         1       3
682          683         0       3
538          539         0       3
819          820         0       3
30            31         0       1
673          674         1       2
63            64         0       3
396          397         0       3
..           ...       ...     ...
276          277         0       3
191          192         0       2
385          386         0       2
805          806         0       3
413          414         0       2
491          492         0       3
343          344         0       2
769          770         0       3
308          309         0       2
661          662         0       3
130          131         0       3
663          664         0       3
871          872         1       1
99           100         0       2
372          373         0       3
87            88         0       3
458          459         1       2
330          331         1       3
214          215         0       3
466          467         0       2
121          122         0       3
614          615         0       3
20            21         0       2
700          701         1       1
71            72         0       3
106          107         1       3
270          271         0       1
860          861         0       3
435          436         1       1
102          103         0       1

                                                  Name     Sex   Age  SibSp  \
709  Moubarek, Master. Halim Gonios ("William George")    male  28.0      1
439             Kvillner, Mr. Johan Henrik Johannesson    male  31.0      0
840                        Alhomaki, Mr. Ilmari Rudolf    male  20.0      0
720                  Harper, Miss. Annie Jessie "Nina"  female   6.0      0
39                         Nicola-Yarred, Miss. Jamila  female  14.0      1
290                       Barber, Miss. Ellen "Nellie"  female  26.0      0
300           Kelly, Miss. Anna Katherine "Annie Kate"  female  28.0      0
333                    Vander Planke, Mr. Leo Edmondus    male  16.0      2
208                          Carr, Miss. Helen "Ellen"  female  16.0      0
136                       Newsom, Miss. Helen Monypeny  female  19.0      0
137                        Futrelle, Mr. Jacques Heath    male  37.0      1
696                                   Kelly, Mr. James    male  44.0      0
485                             Lefebre, Miss. Jeannie  female  28.0      3
244                               Attalah, Mr. Sleiman    male  30.0      0
344                            Fox, Mr. Stanley Hubert    male  36.0      0
853                          Lines, Miss. Mary Conover  female  16.0      0
621                       Kimball, Mr. Edwin Nelson Jr    male  42.0      1
653                      O'Leary, Miss. Hanora "Norah"  female  28.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
110                     Porter, Mr. Walter Chamberlain    male  47.0      0
294                                   Mineff, Mr. Ivan    male  24.0      0
447                        Seward, Mr. Frederic Kimber    male  34.0      0
192    Andersen-Jensen, Miss. Carla Christine Nielsine  female  19.0      1
682                        Olsvigen, Mr. Thor Anderson    male  20.0      0
538                           Risien, Mr. Samuel Beard    male  28.0      0
819                       Skoog, Master. Karl Thorsten    male  10.0      3
30                            Uruchurtu, Don. Manuel E    male  40.0      0
673                              Wilhelms, Mr. Charles    male  31.0      0
63                               Skoog, Master. Harald    male   4.0      3
396                                Olsson, Miss. Elina  female  31.0      0
..                                                 ...     ...   ...    ...
276                  Lindblom, Miss. Augusta Charlotta  female  45.0      0
191                              Carbines, Mr. William    male  19.0      0
385                          Davies, Mr. Charles Henry    male  18.0      0
805                          Johansson, Mr. Karl Johan    male  31.0      0
413                     Cunningham, Mr. Alfred Fleming    male  28.0      0
491                                Windelov, Mr. Einar    male  21.0      0
343         Sedgwick, Mr. Charles Frederick Waddington    male  25.0      0
769                   Gronnestad, Mr. Daniel Danielsen    male  32.0      0
308                                Abelson, Mr. Samuel    male  30.0      1
661                                  Badt, Mr. Mohamed    male  40.0      0
130                               Drazenoic, Mr. Jozef    male  33.0      0
663                                   Coleff, Mr. Peju    male  36.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
99                                   Kantor, Mr. Sinai    male  34.0      1
372                         Beavan, Mr. William Thomas    male  19.0      0
87                       Slocovski, Mr. Selman Francis    male  28.0      0
458                                Toomey, Miss. Ellen  female  50.0      0
330                                 McCoy, Miss. Agnes  female  28.0      2
214                                Kiernan, Mr. Philip    male  28.0      1
466                              Campbell, Mr. William    male  28.0      0
121                         Moore, Mr. Leonard Charles    male  28.0      0
614                    Brocklebank, Mr. William Alfred    male  35.0      0
20                                Fynney, Mr. Joseph J    male  35.0      0
700  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  female  18.0      1
71                          Goodwin, Miss. Lillian Amy  female  16.0      5
106                   Salkjelsvik, Miss. Anna Kristine  female  21.0      0
270                              Cairns, Mr. Alexander    male  28.0      0
860                            Hansen, Mr. Claus Peter    male  41.0      2
435                          Carter, Miss. Lucile Polk  female  14.0      1
102                          White, Mr. Richard Frasar    male  21.0      0

     Parch            Ticket      Fare    Cabin Embarked
709      1              2661   15.2458      NaN        C
439      0        C.A. 18723   10.5000      NaN        S
840      0  SOTON/O2 3101287    7.9250      NaN        S
720      1            248727   33.0000      NaN        S
39       0              2651   11.2417      NaN        C
290      0             19877   78.8500      NaN        S
300      0              9234    7.7500      NaN        Q
333      0            345764   18.0000      NaN        S
208      0            367231    7.7500      NaN        Q
136      2             11752   26.2833      D47        S
137      0            113803   53.1000     C123        S
696      0            363592    8.0500      NaN        S
485      1              4133   25.4667      NaN        S
244      0              2694    7.2250      NaN        C
344      0            229236   13.0000      NaN        S
853      1          PC 17592   39.4000      D28        S
621      0             11753   52.5542      D19        S
653      0            330919    7.8292      NaN        Q
886      0            211536   13.0000      NaN        S
110      0            110465   52.0000     C110        S
294      0            349233    7.8958      NaN        S
447      0            113794   26.5500      NaN        S
192      0            350046    7.8542      NaN        S
682      0              6563    9.2250      NaN        S
538      0            364498   14.5000      NaN        S
819      2            347088   27.9000      NaN        S
30       0          PC 17601   27.7208      NaN        C
673      0            244270   13.0000      NaN        S
63       2            347088   27.9000      NaN        S
396      0            350407    7.8542      NaN        S
..     ...               ...       ...      ...      ...
276      0            347073    7.7500      NaN        S
191      0             28424   13.0000      NaN        S
385      0      S.O.C. 14879   73.5000      NaN        S
805      0            347063    7.7750      NaN        S
413      0            239853    0.0000      NaN        S
491      0  SOTON/OQ 3101317    7.2500      NaN        S
343      0            244361   13.0000      NaN        S
769      0              8471    8.3625      NaN        S
308      0         P/PP 3381   24.0000      NaN        C
661      0              2623    7.2250      NaN        C
130      0            349241    7.8958      NaN        C
663      0            349210    7.4958      NaN        S
871      1             11751   52.5542      D35        S
99       0            244367   26.0000      NaN        S
372      0            323951    8.0500      NaN        S
87       0   SOTON/OQ 392086    8.0500      NaN        S
458      0      F.C.C. 13531   10.5000      NaN        S
330      0            367226   23.2500      NaN        Q
214      0            367229    7.7500      NaN        Q
466      0            239853    0.0000      NaN        S
121      0         A4. 54510    8.0500      NaN        S
614      0            364512    8.0500      NaN        S
20       0            239865   26.0000      NaN        S
700      0          PC 17757  227.5250  C62 C64        C
71       2           CA 2144   46.9000      NaN        S
106      0            343120    7.6500      NaN        S
270      0            113798   31.0000      NaN        S
860      0            350026   14.1083      NaN        S
435      2            113760  120.0000  B96 B98        S
102      1             35281   77.2875      D26        S

[891 rows x 12 columns]

**Кодируем категориальные признаки `Pclass`, `Sex`, `SibSp`, `Parch` и `Embarked` с помощью техники One-Hot-Encoding.**

In [98]:
# pd.concat соединяет датафреймы, параметр axis указывает, как
# pd.get_dummies делает one_hot encoding столбца
# pd.drop удаляет часть датасета
# Общее правило: axis=1 использует столбцы, axis=0 использует строки
# см. документацию

df2 = pd.concat([pd.get_dummies(df.loc[:, ['Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked']]), 
                 df.drop(['Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked'], axis=1)])


df2 = df.drop(['Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked'], axis=1).join(
        pd.get_dummies(df['Pclass'], prefix = 'Pclass_')).join(
        pd.get_dummies(df['Sex'])).join(
        pd.get_dummies(df['SibSp'], prefix = 'SibSp_')).join(
        pd.get_dummies(df['Parch'], prefix = 'Parch_')).join(
        pd.get_dummies(df['Embarked'], prefix = 'Embarked_'))

C:\Users\Marina bar\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [99]:
X = df2
X = X.drop(['Survived', 'Name', 'Ticket', 'Cabin'], axis = 1)
y = df2.loc[ : , 'Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.6)

C:\Users\Marina bar\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [100]:
df2.head()

,PassengerId,Survived,Name,Age,Ticket,Fare,Cabin,Pclass__1,Pclass__2,Pclass__3,...,Parch__0,Parch__1,Parch__2,Parch__3,Parch__4,Parch__5,Parch__6,Embarked__C,Embarked__Q,Embarked__S
709,710,1,"Moubarek, Master. Halim Gonios (""William George"")",28.0,2661,15.2458,NaN,0,0,1,...,0,1,0,0,0,0,0,1,0,0
439,440,0,"Kvillner, Mr. Johan Henrik Johannesson",31.0,C.A. 18723,10.5000,NaN,0,1,0,...,1,0,0,0,0,0,0,0,0,1
840,841,0,"Alhomaki, Mr. Ilmari Rudolf",20.0,SOTON/O2 3101287,7.9250,NaN,0,0,1,...,1,0,0,0,0,0,0,0,0,1
720,721,1,"Harper, Miss. Annie Jessie ""Nina""",6.0,248727,33.0000,NaN,0,1,0,...,0,1,0,0,0,0,0,0,0,1
39,40,1,"Nicola-Yarred, Miss. Jamila",14.0,2651,11.2417,NaN,0,0,1,...,1,0,0,0,0,0,0,1,0,0

## 1. Дерево решений без настройки параметров

**Обучите на имеющейся выборке дерево решений (`DecisionTreeClassifier`) максимальной глубины 2. Используйте параметр `random_state=17` для воспроизводимости результатов.**

In [128]:
modelt = DecisionTreeClassifier(max_depth = 2, random_state = 17)
modelt.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=2,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=17,
            splitter='best')

**Сделайте с помощью полученной модели прогноз для тестовой выборки **

In [130]:
tep = modelt.predict_proba(X_test)[:, 1]

#### Посчитайте ROC AUC и Average Precision Score

In [131]:
print('ROC AUC:', roc_auc_score(y_test, tep))
print('Average precision : ', average_precision_score(y_test, tep))

ROC AUC: 0.8308692495544848
Average precision :  0.7585654276542566

## 2. Дерево решений с настройкой параметров

**Обучите на имеющейся выборке дерево решений (`DecisionTreeClassifier`). Также укажите `random_state=17`. Максимальную глубину и минимальное число элементов в листе настройте на 5-кратной кросс-валидации с помощью `GridSearchCV`.**

In [135]:
# tree params for grid search
tree_params = {'max_depth': list(range(1, 5)), 
               'min_samples_leaf': list(range(1, 5))}
modelt2 = DecisionTreeClassifier(random_state = 17)

cv = GridSearchCV(modelt2, tree_params)
cv = cv.fit(X_train, y_train)

modelt2 = cv.best_estimator_
modelt2.fit(X_train, y_train)

C:\Users\Marina bar\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=2, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=17,
            splitter='best')

**Сделайте с помощью полученной модели прогноз для тестовой выборки.**

In [136]:
tep1 = modelt2.predict_proba(X_test)[:, 1]

#### Посчитайте ROC AUC и Average Precision Score и сравните с предыдущим значением метрики

In [137]:
print('ROC AUC:', roc_auc_score(y_test, tep1))
print('Average precision : ', average_precision_score(y_test, tep1))

ROC AUC: 0.8509174311926606
Average precision :  0.7901010851572567

## 3. Логистическая регрессия

#### Обучите логистическую регрессию, и посмотрите, насколько хорошо она будет работать (по ROC AUC и Average Precision)

In [138]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()

In [139]:
logreg.fit(X_train, y_train)
ytep = logreg.predict_proba(X_test)[:, 1]

print('ROC AUC Тест: ', roc_auc_score(y_test, ytep))
print('Average precision Тест: ', average_precision_score(y_test, ytep))

ROC AUC Тест:  0.8574021516731569
Average precision Тест:  0.8247185843230949

C:\Users\Marina bar\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)